<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="/static/js/jquery-3.2.1.js"></script>
</head>
<body>
<p>聊天室</p>
<form id="chatForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit"/>
</form>
<div id="output"></div>
<script th:inline="javascript">
    $('#chatForm').submit(function(e){
        e.preventDefault();
        var text = $('#chatForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    //连接endpoint 名称为"/endpointChat" 的endpoint
    var sock = new SockJS("/endpointChat");
    var stomp = Stomp.over(sock);
    //订阅"/chat/queue/notifications" 发送的消息，这里与在控制器的messagingTemplate convertAndSendToUser中定义的订阅地址保持一致。
    //这里多了一个/user，并且这个/user是必须的，使用了/user才会发送消息到指定的用户。
    stomp.connect('guest', 'guest', function(frame){
        stomp.subscribe("/user/queue/notifications", handleNotification);
    });

    function handleNotification(message){
        $('#output').append("<b>Received: " + message.body + "</b><br/>");
    }

    function sendSpittle(text){
        //text 为参数
        stomp.send("/web/handleChat", {}, text);
    }

    $('#stop').click(function(){
       sock.close();
    });
</script>
</body>
</html>